# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/

# Output
output/detections.json
output/results/

# Models (download thủ công)
models/*.pt

# Data
data/video/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
